# System files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# IDE and editor directories and settings
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary files, logs, and caches
*.log
logs/
*.tmp
*.swp

# Build directories and compiled artifacts
bin/
obj/
build/
out/
target/

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan
# Note: Do NOT ignore .terraform.lock.hcl as it should be committed

# Node.js modules and debug logs
node_modules/
npm-debug.log
yarn-error.log

# Backup files
*.bak\

# helm
values.yaml
*.tgz

.env
